

<div class="home-jumbotron">
    <div class="cover">
          
    </div>
   </div>


   <div>

    <div class="row my-5 mx-2">

        <div class="col-3" >
            <mat-card class="action-card" routerLink="/find-hcf">
                <p>Find the HCF</p>
            </mat-card>
        </div>

        <div class="col-3">
            <mat-card class="action-card" routerLink="/all-addresses">
                <p>View All The Addresses</p>
            </mat-card>
        </div>

        <div class="col-3">
            <mat-card class="action-card" routerLink="/filter-address">
                <p>View Specific Addresses</p>
            </mat-card>
        </div>

        <div class="col-3">
                <mat-card class="action-card" routerLink="/address-validation">
                    <p>Address Validation</p>
                </mat-card>
            </div>
                   
    </div>
 
    

   </div>
