/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.views-jumbotron{
    margin-top: 9px;
    height: 220px;
    width:100%;
    background-image: url("./assets/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 3px solid #131f2b;
}

.title{
    font-weight: 100;
}